on:
  # Trigger analysis when pushing to your main branches, and when creating a pull request.
  push:
    branches: [main, master, develop]
  pull_request:
      types: [opened, synchronize, reopened]
  workflow_dispatch:

name: SonarQube-Analysis
jobs:
  sonarqube:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        # Disabling shallow clones is recommended for improving the relevancy of reporting
        fetch-depth: 0
        
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest pytest-cov
        
    - name: Run tests with coverage
      run: |
        pytest --cov=. --cov-report=xml:coverage.xml --cov-report=html:coverage_html tests/ || true
      continue-on-error: true
        
    - name: SonarQube Scan
      uses: sonarsource/sonarqube-scan-action@v6 # See the latest version at https://github.com/marketplace/actions/official-sonarqube-scan
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_HOST_URL: ${{ vars.SONAR_HOST_URL }}
      with:
        args: >
          -Dsonar.verbose=true
          -Dsonar.sources=src/
          -Dsonar.python.coverage.reportPaths=coverage.xml
          -Dsonar.tests=tests/
